/main-service/.phpunit.cache
/main-service/node_modules
/main-service/public/build
/main-service/public/hot
/main-service/public/storage
/main-service/storage/*.key
/main-service/vendor
/main-service/.env
/main-service/.env.backup
/main-service/.env.production
/main-service/.phpactor.json
/main-service/.phpunit.result.cache
/main-service/Homestead.json
/main-service/Homestead.yaml
/main-service/auth.json
/main-service/npm-debug.log
/main-service/yarn-error.log
/main-service/.fleet
/main-service/.idea
/main-service/.vscode
/main-service/.zed
/main-service/_ide_helper.php


/admin-service/.phpunit.cache
/admin-service/node_modules
/admin-service/public/build
/admin-service/public/hot
/admin-service/public/storage
/admin-service/storage/*.key
/admin-service/vendor
/admin-service/.env
/admin-service/.env.backup
/admin-service/.env.production
/admin-service/.phpactor.json
/admin-service/.phpunit.result.cache
/admin-service/Homestead.json
/admin-service/Homestead.yaml
/admin-service/auth.json
/admin-service/npm-debug.log
/admin-service/yarn-error.log
/admin-service/.fleet
/admin-service/.idea
/admin-service/.vscode
/admin-service/.zed
/admin-service/_ide_helper.php